<tr>
  <td>
    <b><%= farmer_market.market.name %></b>
  </td>
  <td>
    <%= farmer_market.market.website_link %>
  </td>
  <td>
    <%= farmer_market.market.address %>
  </td>
  <td>
    <%= farmer_market.market.city %>
  </td>
  <td>
    <%= farmer_market.market.province %>
  </td>
  <td>
    <%= farmer_market.market.postal_code %>
  </td>
  <td>
    <%= farmer_market.market.description %>
  </td>
  <td>
    <%= farmer_market.market.time_open %>
  </td>
  <td>
    <%= farmer_market.market.days_open %>
  </td>
  <td>
    <%= link_to "delete", farmer_market.market, method: :delete %>
  </td>
</tr>
