<% if params[:param] %>
  <h1>Markets near <%= params[:param]%></h1>

  <div class='google_maps_container'>
    <div id="map" class='google_maps'></div>
  </div>
<% else %>

  <h1>All Markets</h1>
<% end %>
<% if params[:param] %>
  <%= react_component("Markets", {markets: @market})%>
<% else %>
  <%= react_component("Markets", {markets: Market.order(created_at: :desc)}) %>
<% end %>
  <form action = "/markets/" id='home_search' class='row form' method='get'>
    <div class="input-field col s3">
      <%= text_field_tag :param, params[:search], :class => 'search_bar'%>
      <%= submit_tag "Search", :class => 'search_btn', :name => nil %>
    </div>
  </form>
  <div class='google_maps_container'>
    <div id="map" class='google_maps'></div>
  </div>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },

  function(){
    // console.log ("maps running on index");
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10);
  }

  );
</script>
