<!DOCTYPE HTML>
<section>

  <h4><%=@market.name %></h4>

  <p>
    <%= link_to @market.website_link do %>
        <%= image_tag @market.image.thumb, alt: @market.name %>
    <% end %>
  </p>

  <p><%= @market.address %>, <%= @market.city %>, <%= @market.province %>, <%= @market.postal_code %></p>
  <p><%= @market.days_open %></p>
  <p><%= @market.time_open %></p>
  <p><%= link_to 'Market Homepage', @market.website_link %></p>

  <h5>All products at <%=@market.name%>: </h5>

  <ul>
    <% @products.each do |product| %>
      <li><%= product.product_name %></li>
    <% end %>
  </ul>

  <h5>All Farmers at <%=@market.name%>: </h5>

  <div>
    <hr>
    <% @market.farmers.each do |f| %>
    <h6>Name:</h6>
      <p>
      <%= f.first_name%> <%= f.last_name %>
      </p>
      <h6>Farm name:</h6>
      <p>
      <%= f.farm_name %>
      </p>
      <hr>
    <% end %>
  </div>

  <div style='width: 400px;'>
    <div id="map" style='width: 400px; height: 300px;'></div>
  </div>

  <script>
      handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          disableDefaultUI: true,
          // pass in other Google Maps API options here
        },
        internal: {
          id: 'map'
        }
      },
      function(){
        // console.log("map running for farmer show")
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(16)
      }
      );
    </script>

</section>
