<h1>Farmer Details</h1>

<section>

  <h4><%=@farmer.farm_name %></h4>

  <p>
    <%= link_to @farmer.website_link do %>
        <%= image_tag @farmer.image.thumb, alt: @farmer.farm_name %>
    <% end %>
  </p>

  <p><%= @farmer.first_name %> <%= @farmer.last_name %>, <%= @farmer.phone_no %></p>
  <p><%= link_to 'Farm', @farmer.website_link %></p>
</section>

<div>
<%= react_component("Markets", {markets: FarmerMarket.get_markets_farmer_participates_in(@farmer.id)})%>
<%= react_component("Products", {
  products: FarmersProduct.get_products_farmer_offers(@farmer.id),
  id: @farmer.id
  })%>
</div>
