<tr>
  <td>
    <b><%= farmer_product.product.product_name %></b>
  </td>
  <td>
    <%= farmer_product.product.product_type %>
  </td>
  <td>
    <%= farmer_product.product.organic %>
  </td>
  <td>
    <%= farmer_product.product.non_gmo %>
  </td>
  <td>
    <%= link_to "delete", farmer_product.product, method: :delete, data: { confirm: "Are you sure you want to remove this item?" } %>
  </td>
</tr>
