<h1>Dashboard</h1>

<% if current_user %>
  <%= react_component("UserProfile", {
    type: 'user',
    first_name: current_user.first_name,
    last_name: current_user.last_name,
    email: current_user.email
    }) %>
    <%= link_to "Edit", "/dashboard/#{current_user.id}/edit"%>
    <%= link_to "Delete", "/dashboard/#{current_user.id}/delete"%>
<% elsif current_farmer %>
  <%= react_component("FarmerProfile", {
    type: 'farmer',
    id: current_farmer.id,
    farm_name: current_farmer.farm_name,
    first_name: current_farmer.first_name,
    last_name: current_farmer.last_name,
    email: current_farmer.email,
    phone_no: current_farmer.phone_no,
    website_link: current_farmer.website_link,
    description: current_farmer.description,
    image: "#{current_farmer.image}"
    }) %>

<%= link_to "delete", current_farmer, method: :delete %>

    <h5>Markets you're participating in: </h5>
    <div>
      <% @market.where(id: current_farmer.id).find_each do |m|  %>
       <ul>
        <li><%= link_to "#{m.name}", "/markets/#{m.id}" %></li>
      </ul>
      <% end %>
    </div>

<% else %>
  not yet
<% end %>
