<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <% if current_user %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Dashboard', '/dashboard' %></li>
      <li><%= link_to 'Logout', "/sessions/#{session[:user_id]}", method: :delete %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Dashboard', '/dashboard' %></li>
      <li><%= link_to 'Logout', "/sessions/#{session[:user_id]}", method: :delete %></li>
    </ul>
    <% elsif current_farmer %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Dashboard', '/dashboard' %></li>
      <li><%= link_to 'Logout', "/sessions/#{session[:farmer_id]}", method: :delete %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Dashboard', '/dashboard' %></li>
      <li><%= link_to 'Logout', "/sessions/#{session[:farmer_id]}", method: :delete %></li>
    </ul>
    <% else %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Log In', '/sessions/new' %></li>
      <li><%= link_to 'Register', '/registration_bridge/index' %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Log In', '/sessions/new' %></li>
      <li><%= link_to 'Register', '/registration_bridge/index' %></li>
    </ul>
    <% end %>
  </div>
</nav>
